.page{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.visit_container{
    margin: auto;
    box-shadow: 5px 5px 15px ; 
    color: rgb(163, 163, 163);
}

.box1{
    background: white;
    height: 20vh;
    
}

.box1 > p{
    border: 2px solid black;
    margin: auto;
    border: none;
    display: flex;
    justify-content: space-evenly;
    color: black
}


.box1 > input{
    background: white;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    width: 11rem;
    background: white;
    color: black;
    border: 2px solid black;
    font-size: 12px;
    padding: 0.5rem 0;
}



.box2{
    background: white;
    height: 30vh;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.box2 > p{
    border: 2px solid black;
    margin: auto;
    border: none;
    display: flex;
    justify-content: space-evenly;
    color: black
}

.box2 > input{
    background: white;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    width: 11rem;
    background: white;
    color: black;
    border: 2px solid black;
    font-weight: bold;
    font-size: 12px;
    padding: 0.5rem 0;
}

.sug_box{
    list-style: none;
    color: black;
    background: white;
    margin: .3em;
}

.box2 > button{
    z-index: 1;
  position: relative;
  font-size: 15px;
  font-family: inherit;
  color: black;
  padding: 1em 1em;
  outline: none;
  border: none;
  background: transparent;
}

.box2 > button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #5FBBFF;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
  }
  
  .box2 > button:hover {
    cursor: pointer;
    color:white;
    transition: 0.15s
  }
  
  .box2 > button:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
  }  