.nav_menu{
    height: 100vh;
    width: 130px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom left, #3cefff, #0396FF);
    justify-content: space-evenly;    
    box-shadow: 5px 5px 15px ; 
    color: rgb(163, 163, 163);
  }
  
  .icons{
    background: transparent;
    margin: auto;
    border: none;
    display: flex;
    justify-content: space-evenly
    
  }

  .nav_icons{
    background: transparent;
    margin: auto;
    border: none;
    display: flex;
    justify-content: space-evenly
    
  }
  
  button:focus {outline:0;}
  
  .icons:hover{
    cursor: pointer;
    -webkit-animation-name: pulse;
          animation-name: pulse;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both; 
  }

  .logout > button{
  z-index: 1;
  position: relative;
  font-size: 15px;
  font-family: inherit;
  color: white;
  padding: 1em 1em;
  outline: none;
  border: none;
  background: transparent;
  width: 100%
}

.logout > button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FC2F70;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
  }
  
  .logout > button:hover {
    cursor: pointer;
    color:white;
    transition: 0.15s
  }
  
  .logout > button:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
  }  


  @-webkit-keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes pulse {
    0% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
    }
    0% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
    }
    } 
  